:root {
  --research-link: rgba(255, 100, 0, 1);
  --research-link-hover: rgba(255, 150, 0, 1);
  --border-color: rgba(20, 20, 20, 1.0);
}

.darkmode{
	--border-color: rgba(250, 250, 250, 1.0);
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: var(--background-color);
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    max-height: calc(100vh - 200px);
    overflow: auto; /* Enable scroll if needed */
    border-radius: 30px;
}


/* The Close Button */
.close, .readinpage{
    float: right;
    color: var(--light-trans-text);
    font-weight: normal;
}



.close:hover,
.close:focus,
.readinpage:hover,
.readinpage:focus {
    color: var(--dark-trans);
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: var(--research-link);
    color: var(--light-trans-text);
    font-weight: bolder;
}

.modal-header a{
	color: var(--light-trans-text);
}
.modal-header a:hover{
	color: var(--dark-trans);
}


.modal-body {padding: 2px 16px;}

.modal-footer {
	min-height: 30px;
    padding: 2px 16px;
    background-color: var(--research-link);
}


.modal-container{
	display: flex;
  	align-items: stretch;
  	justify-content: flex-start;
  	gap: 15px;
  	flex-wrap: wrap;
  	padding: 10px 0px;
}
.modal-item{
	padding: 0px 10px;
	background-color: var(--research-link);
	height: 60px;
	min-width: 60px;
  	text-align: center;
    display: flex;
    align-items: center;
  	justify-content: center;
  	border-radius: 5px;
  	border-width: 1px;
  	border-color: var(--border-color);
  	border-style: solid;
  	color: var(--light-trans-text);
}


.modal-inner-item{
	text-transform: uppercase;
}

.modal-item:hover, .modal-item:focus, a:focus .modal-item{
	background-color: var(--research-link-hover);
    cursor: pointer;
}

table{
	margin: 10px 0px;
	padding: 0px;
}
td:first-child{
	white-space: nowrap;
}
td:not(:first-child){
	padding-left: 20px;
}
td{
	vertical-align: top;
}

.modal-header h1{
	font-size: 15px;
	font-weight: normal;
}
.modal-content h2{
	font-size: 20px;
	font-weight: bolder;
}



.button-container{
	display: flex;
	align-items: center;
	margin: 10px 0px;
}
.modal-button{
	flex: 1;
	background-color: var(--research-link);
	padding: 0px 20px;
	border-radius: 10px;
  	border-width: 1px;
  	border-color: var(--border-color);
  	border-style: solid;
}
.modal-button:hover{
	cursor: pointer;
	background-color: var(--research-link-hover);
}
.modal-button p{
	pointer-events: none;
	color: var(--light-trans-text);
	display: inline;
}










