.entrypublication{
	font-style: italic;
}
.entryvenue{
	font-style: italic;
}
.entryauthors{
	font-variant: small-caps;
}
.entrytitle{
	font-weight: bold;
}



.class-name{
	font-weight: bold;
}
.class-time{
	font-style: italic;
}

.class-position::after{
	content: " for ";
}
.class-time::before{
	content: "<br>";
}